[SddmGreeterTheme]
Name=rain-over-neo-tokyo
Description=Rain Over Neo Tokyo SDDM Theme
Author=tuconnais
Type=sddm-theme
MainScript=Main.qml
ConfigFile=theme.conf
QtVersion=6
